/*styles for document*/

/* 
	despite the ability to define some styles in one class and share them,
	we will define styles for each section independently so as to make it easier
	to understand what happens where and how
*/

/*default style */
html, body {
	width: 100%;
	font-family: arial;
	color: grey; #615d5d;
	overflow-x: hidden;
}

div, li, img, p {
	display: block;
	overflow: hidden;
}


/* menu style */


/* slide window style */


/* left sidebar style */


/* right sidebar style*/


/* content style */


/* footer style */

