/*styles for document*/

/* 
	despite the ability to define some styles in one class and share them,
	we will define styles for each section independently so as to make it easier
	to understand what happens where and how
*/

/*default style */
html, body {
	width: 100%;
	font-family: arial;
	color: grey; #615d5d;
	overflow-x: hidden;
}

div, li, img, p {
	display: block;
	overflow: hidden;
	text-align: justify;
}


/* menu style */
.menu {
	width: 100%;
	padding: 5px;
}
.brand-name {
	display: inline-block;
	width: 20%
}
.menu-items {
	display: inline-block;
	width: 75%;
	padding: 2px 20px;
	text-align: right;
}
.menu-items > li {
	display: inline-block;
	margin: 0;
	padding: 5px 5%;
	border-left: 1px solid #615d5d;
}
.menu-items > li:hover {
	background-color: #615d5d;
	color: #e3dede;
}

/* slide window style */
.slide-window {
	position: relative;
	height: 615px;
}
.slide-image {
	height: 615px;
}
.slide-h3-caption {
	position: absolute;
	bottom: 50%;
	left: 10%;
	font-size: 300%;
	color: #f7f2f2;
	text-shadow: 2px 2px 2px #615d5d;
}
.slide-detail {
	position: absolute;
	bottom: 40%;
	left: 10%;
	font-size: 150%;
	color: #f7f2f2;
	text-shadow: 2px 2px 2px #615d5d;
}

/* main style */
.main {
	margin: 5%;
	width: 90%;
}

/* left sidebar style */
.left-sidebar {
	display: inline-block;
	width: 20%;
	padding: 5px;
	vertical-align: top;
}


/* right sidebar style*/
.right-sidebar {
	display: inline-block;
	width: 10%;
	padding: 5px;
	vertical-align: top;
}

/* content style */
.content {
	display: inline-block;
	width: 65%;
	padding: 5px;
	vertical-align: top;
}
.upper-content {
	width: 100%;
	vertical-align: top;
}
.mid-left-content {
	display: inline-block;
	width: 27%;
	padding: 10px;
	vertical-align: top;
}
.mid-central-content {
	display: inline-block;
	width: 38%;	
	padding: 10px;
	vertical-align: top;
}
.mid-right-content {
	display: inline-block;
	width: 25%;
	padding: 10px;
	vertical-align: top;
}
.lower-content {
	width: 100%;
	vertical-align: top;
}
/* footer style */

